.post-card>*{
    text-align: left;
}
.post-card{
    border: 2px solid #efefef !important;
}
.title-size{
    font-size:90%;
}
.text-size{
    font-size:80%;
    padding-left : 3px;
}

.comment{
    max-height: 100px;
}
.comment-d{
    height:420px;
}
.comment-title-size{
    font-size:85%;
}
.comment-text-size{
    font-size:75%;
    padding-left : 3px;
}
.comment-date-size{
    font-size:75%;
}
.commentbody{
    padding:0px !important;
    padding-left:1.25rem !important;
    position: relative;
}
.cardfoot{
    width: 100%;
    position: absolute;
    bottom:0px;
}

.post-detail-card{
    display: inline-block !important;
    width:935px;
    border: 2px solid #efefef !important;
    text-align: left;
    margin-top: 3rem;
}

.detail-image{
    width:600px;
}

.card-detail-right{
    position: relative;
    min-height: 620px;
    border-left: 2px solid #efefef !important;
}

.detail-head{
    height:70px;
}
.detail-icon-body{
    position: absolute;
    width:100%;
}
.closebtn{
    color:lightslategrey;text-decoration:none;
}

@media screen and (min-width: 601px) {
    .post-card{
        margin-bottom: 3rem;
    }
    .detail-btn{
        width:935px;
    }
  }
  